.parent {
  display: flex;
  gap: 1em;
  .sidebar {
    background: #b8dbe4;
    margin-top: 1em;
    color: rgb(2, 8, 23);
    border-radius: 15px;
    width: 25%;
    height: 75vh;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: rgb(2, 8, 23) #b8dbe4;

    &::-webkit-scrollbar {
      width: 10px;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(2, 8, 23);
      border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    .tab {
      width: 100%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5em;
      border: 2px solid rgba(2, 8, 23);
      cursor: pointer;
    }

    .tab:hover {
      background: rgba(2, 8, 23, 0.701);
      transition: all 0.5s ease;
      color: #fff;
    }

    .tab.active {
      background: rgba(2, 8, 23);
      color: #fff;
    }
    .fancy {
      --b: 3px; /* control the border thickness */
      --w: 50px; /* control the width of the line*/
      --g: -10px; /* control the gap */
      --c: rgb(2, 8, 23);

      width: fit-content;
      margin: 0.5em 0 0.5em 0;
      padding: 0.25em 2em;
      line-height: 1.6em;
      border: 1px solid;
      font-size: 0.8rem;
      color: #fff;
      background: conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
        conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
      background-size: 51% 100%;
      background-origin: border-box;
      background-repeat: no-repeat;
      border-image: linear-gradient(
          #0000 calc(50% - var(--b) / 2),
          var(--c) 0 calc(50% + var(--b) / 2),
          #0000 0
        )
        1/0 var(--w) / calc(var(--w) + var(--g));
      margin-inline: auto;
    }
  }

  .emails {
    background: #b8dbe4;
    margin-top: 1em;
    color: rgb(2, 8, 23);
    border-radius: 15px;
    width: 75%;
    height: 75vh;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5em;
      h2 {
        font-size: 1.2rem;
        font-weight: 700;
        width: 20%;
      }

      input {
        width: 80%;
        padding: 0.5em 1em;
        border-radius: 10px;
        color: #fff;
        outline: none;
      }

      button {
        width: 20%;
        background: rgb(2, 8, 23);
        padding: 0.5em;
        border-radius: 10px;
        color: #fff;
      }
    }

    .mails {
      width: 50%;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: rgb(2, 8, 23) #b8dbe4;
      padding-right: .5em;
      .mail {
        padding: 1em;
        border-radius: 15px;
        background: rgb(2, 8, 23);
        color: #fff;
        margin-top: .5em;
        .profile {
          display: flex;
          align-items: center;
          gap: 0.5em;
          .profilePic {
            background: #fff;
            width: 40px;
            border-radius: 10px;
            height: 40px;
          }

          h2 {
            font-weight: 700;
            font-size: 1rem;
            line-height: 1;
          }

          article {
            font-size: 0.8rem;
            font-weight: 500;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }

        p {
          font-size: 0.8rem;
          margin-top: 0.5em;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
